@model Historia_Clinica.Models.Evolucion

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/controladores.css" asp-append-version="true" />

<h3>¿Desea descartar la siguiente Evolución?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionAtencion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionAtencion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaYHoraInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaYHoraInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechayHoraAlta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechayHoraAlta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechayHoraCierre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechayHoraCierre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoAbierto)
        </dt>
        <dd class = "col-sm-10">
            <span class="checkbox @(Model.EstadoAbierto ? "checkbox-verde" : "checkbox-rojo") @(Model.EstadoAbierto ? "checked" : "")"></span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medico.Fullname)
        </dd>
    </dl>
        
        <div class="row ml-4 col-md-6">
            <div class="col-md-6">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-primary btn-lg">Regresar a Lista</a>
                        <button type="submit" class="btn btn-danger btn-lg">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
</div>
