@model Historia_Clinica.Models.Paciente

@{
    ViewData["Title"] = "Details";
    string fotopath = Varios.GetUrlPath(Config.FotoURL, Model.Foto, Config.FotoDef);
}
<link rel="stylesheet" href="~/css/controladores.css" asp-append-version="true" />

<div>
    @if (User.IsInRole("Paciente"))
    {
        <h1>Mis Datos</h1>
    }
    else
    {
        <h1>Datos del Paciente:</h1>
    }
    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Apellido)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Apellido)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DNI)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DNI)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.TipoObraSocial)
                </dt>
                <dd class="col-sm-8">
                    @if (Model.TipoObraSocial == TipoObraSocial.SIN_OBRA_SOCIAL && User.IsInRole("Paciente"))
                    {
                        <span>¿No tienes obra social? Agregala <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", new { id = Model.Id })">aquí</a>!</span>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.TipoObraSocial)
                    }
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Telefono)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-8">
                    <a href="mailto:@Model.Email" style="color: blue; text-decoration: underline;">@Model.Email</a>
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Direccion)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Direccion.DireccionCompleta)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaAlta)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaAlta)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.UserName)
                </dd>
            </dl>
            <div class="text-right">
                @if (!User.IsInRole(Config.MedicoRolName))
                {
                 <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary btn-lg">Editar</a>
                }
                @if (!User.IsInRole(Config.PacienteRolname))
                {
                    <a asp-action="Index" class="btn btn-primary btn-lg">Regresar a Lista</a>
                }
                else
                {
                    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Index">Regresar al Home</a>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <img src="@fotopath" class="rounded-circle foto-detalles" alt="Foto Usuario" asp-append-version="true" width="200" height="200">
                <figcaption class="figure-caption text-right" style="font-weight:bold">Foto Usuario @Model.UserName</figcaption>
            </div>
        </div>
    </div>
</div>
