@model IEnumerable<Historia_Clinica.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/controladores.css" asp-append-version="true" />

<h1>Pacientes</h1>

<div style="margin-top: 10px; margin-bottom: 15px;">
    <form>
        <input name="pacienteBuscado" type="text" placeholder="Ingrese apellido de paciente" />
        <button type="submit" class="btn-estandar btn-grande">Buscar</button>
    </form>
</div>



<table class="table">
    <thead class="header-tablas">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoObraSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paciente in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => paciente.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => paciente.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => paciente.DNI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => paciente.TipoObraSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => paciente.Telefono)
                </td>
                  <td>
                    <a href="mailto:@paciente.Email" style="color: blue; text-decoration: underline;">@paciente.Email</a>
                </td>
                <td hidden>
                    @Html.DisplayFor(modelItem => paciente.Direccion.DireccionCompleta)
                </td>
                <td hidden>
                    @Html.DisplayFor(modelItem => paciente.FechaAlta)
                </td>
                <td hidden>
                    @Html.DisplayFor(modelItem => paciente.UserName)
                </td>
                <td>
                    @if (User.IsInRole(Config.EmpleadoRolName))
                    {
                    <div style="display: flex; justify-content: flex-end;">
                        <div style ="margin-right: 10px;">
                        <a class="btn-estandar btn-sm" asp-action="Index" asp-route-pacienteid="@paciente.Id" asp-controller="Episodios">Ver Episodios</a>
                        <a class="btn-estandar btn-sm" asp-action="Create" asp-route-pacienteid="@paciente.Id" asp-controller="Episodios">Crear Episodio</a>
                       <br>
                                <a id="prr" class="btn-estandar btn-sm" asp-action="Edit" style="width: 135px; margin-top: 10px;" asp-route-id="@paciente.Id">Editar</a>
                                <a class="btn-estandar btn-sm" asp-action="Details" style="width: 143px; margin-top: 10px;" asp-route-id="@paciente.Id">Detalle</a>
                        </div>
                    </div>

                    }
                    @if (User.IsInRole(Config.MedicoRolName))
                    {
                        <a class="btn-estandar btn-sm" asp-action="Index" asp-route-pacienteid="@paciente.Id" asp-controller="Episodios">Ver Episodios</a>
                        <a class="btn-estandar btn-sm" asp-action="Details" style="width: 145px;" asp-route-id="@paciente.Id">Detalle</a>
                    }
                    @if (User.IsInRole(Config.AdminRolName))
                    {
                        <div style="display: flex; justify-content: flex-end;">
                            <div style ="margin-right: 10px;">
                                <a class="btn-estandar btn-sm" asp-action="Index" asp-route-pacienteid="@paciente.Id" asp-controller="Episodios">Ver Episodios</a>
                                <a class="btn-estandar btn-sm" asp-action="Create" asp-route-pacienteid="@paciente.Id" asp-controller="Episodios">Crear Episodio</a>
                                <br>
                                <a id="prr" class="btn-estandar btn-sm" asp-action="Edit" style="width: 135px; margin-top: 10px;" asp-route-id="@paciente.Id">Editar</a>
                                <a class="btn-estandar btn-sm" asp-action="Details" style="width: 145px; margin-top: 10px;" asp-route-id="@paciente.Id">Detalle</a>
                                <br>
                                <a class="btn-estandar btn-sm" asp-action="Delete" style="flex: 1; width: 300px; margin-top: 15px" asp-route-id="@paciente.Id">Eliminar</a>
                            </div>
                        </div>
                    }

                </td>
            </tr>
            
        }
    </tbody>
</table>
@if (User.IsInRole(Config.AdminRolName) || User.IsInRole(Config.EmpleadoRolName))
{
<p style="text-align: right; margin-right: 200px;">
    <a type="submit" class="btn-estandar btn-azul-oscuro" asp-action="Create">Crear nuevo</a>
</p>
}